
    <%-include('../../shared/includes/head',{pageTitle:'Login'}) %>
    <link rel="stylesheet" href="/styles/form.css"> 
  </head>
  <body>
    <%-include('../../shared/includes/header')%>
      <main>
        <h1>Login</h1>
        <%if(inputData.errorMessage){%>
          <section class="error-block">
            <h3>Invalid Input</h3>
            <p><%=inputData.errorMessage%></p>
         </section>
        <%}%>  
          <form class="form" action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
            <div>
              <label for="email">Your Email</label>
              <input type="email" id="email" name="email" value="<%=inputData.email%>" required>
              <label for="password">Password</label>
              <input type="password" name="password" id="password" minlength="6" value="<%=inputData.password%>" required>
            </div>
              <div class="btn-container">
                <button class="btn-full" type="submit">Login</button>
                <a class = "btn-empty" href="/signup">Signup instead</a>
              </div>
            </div>
          </form>
      </main>
   
<%-include('../../shared/includes/footer') %> 