
    <%-include('../../shared/includes/head',{pageTitle:'Signup'}) %>
    <link rel="stylesheet" href="/styles/form.css"> 
    <script src="/scripts/mobile.js" defer></script>
  </head>
  <body>
    <%-include('../../shared/includes/header')%>
      <main>
        <h1>Create a New Account</h1>
      
          <%if(inputData.errorMessage){%>
            <section class="error-block">
              <h3>Invalid Input</h3>
              <p><%=inputData.errorMessage%></p>
           </section>
          <%}%>  

          <form class="form" action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
            <div>
              <label for="email">Your Email</label>
              <input type="email" id="email" name="email" value="<%=inputData.email%>" required>
              <label for="confirmemail">Confirm Email</label>
              <input type="email" id="confirmemail" name="confirmemail" value="<%=inputData.confirm%>" required>
              <label for="password">Password</label>
              <input type="password" name="password" id="password" minlength="6" value="<%=inputData.password%>" required>
              <div>
                <button type = "button" id="btn-gray">Reveal Password</button>
              </div>
            </div>
            <hr class="signup-break">
            <div>
              <label for="fullname">Full Name</label>
              <input type="text" name="fullname" id="fullname"value="<%=inputData.fullname%>" required>
              <label for="street">Street</label>
              <input type="text" name="street" id="street" value="<%=inputData.street%>" required>
              <label for="postalcode">Postal Code</label>
              <input type="text" name="postalcode" id="postalcode" minlength="5" value="<%=inputData.postalcode%>" required>
              <label for="city">City</label>
              <input type="text" name="city" id="city" value="<%=inputData.city%>" required>
              <div class="btn-container">
                <button class="btn-full" type="submit">Create Account</button>
                <a class = "btn-empty" href="/login">Login instead</a>
              </div>
           
            </div>
          </form>
      </main>
   
<%-include('../../shared/includes/footer') %> 